<a href="https://colab.research.google.com/github/Arif-0123/Proyek_Analisis_Data/blob/main/Air%20Quality%20Dataset/submision/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyek Analisis Data: Air Quality Dataset
- Nama: Arif Hidayat
- Email: a.gaul0812@gmail.com
- Id Dicoding: kurokyshi

## Menentukan Pertanyaan Bisnis



1.   Bagaimana kualitas udara disetiap station dalam beberapa tahun terakhir?
2.   Pada station manakah kualitas udara terburuk terjadi?

## Menyiapkan semua library yang dibutuhkan

In [539]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

## Data Wrangling

### Gathering Data

#### menampilkan semua dataset

In [540]:
Aotizhongxin_df = pd.read_csv("https://raw.githubusercontent.com/Arif-0123/Proyek_Analisis_Data/main/Air%20Quality%20Dataset/submision/data/PRSA_Data_Aotizhongxin_20130301-20170228.csv")
Aotizhongxin_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin
1,2,2013,3,1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin
2,3,2013,3,1,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Aotizhongxin
3,4,2013,3,1,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Aotizhongxin
4,5,2013,3,1,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0,Aotizhongxin

In [541]:
Changping_df = pd.read_csv("https://raw.githubusercontent.com/Arif-0123/Proyek_Analisis_Data/main/Air%20Quality%20Dataset/submision/data/PRSA_Data_Changping_20130301-20170228.csv")
Changping_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,3.0,6.0,13.0,7.0,300.0,85.0,-2.3,1020.8,-19.7,0.0,E,0.5,Changping
1,2,2013,3,1,1,3.0,3.0,6.0,6.0,300.0,85.0,-2.5,1021.3,-19.0,0.0,ENE,0.7,Changping
2,3,2013,3,1,2,3.0,3.0,22.0,13.0,400.0,74.0,-3.0,1021.3,-19.9,0.0,ENE,0.2,Changping
3,4,2013,3,1,3,3.0,6.0,12.0,8.0,300.0,81.0,-3.6,1021.8,-19.1,0.0,NNE,1.0,Changping
4,5,2013,3,1,4,3.0,3.0,14.0,8.0,300.0,81.0,-3.5,1022.3,-19.4,0.0,N,2.1,Changping

In [542]:
Dingling_df = pd.read_csv("https://raw.githubusercontent.com/Arif-0123/Proyek_Analisis_Data/main/Air%20Quality%20Dataset/submision/data/PRSA_Data_Dingling_20130301-20170228.csv")
Dingling_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,3.0,NaN,200.0,82.0,-2.3,1020.8,-19.7,0.0,E,0.5,Dingling
1,2,2013,3,1,1,7.0,7.0,3.0,NaN,200.0,80.0,-2.5,1021.3,-19.0,0.0,ENE,0.7,Dingling
2,3,2013,3,1,2,5.0,5.0,3.0,2.0,200.0,79.0,-3.0,1021.3,-19.9,0.0,ENE,0.2,Dingling
3,4,2013,3,1,3,6.0,6.0,3.0,NaN,200.0,79.0,-3.6,1021.8,-19.1,0.0,NNE,1.0,Dingling
4,5,2013,3,1,4,5.0,5.0,3.0,NaN,200.0,81.0,-3.5,1022.3,-19.4,0.0,N,2.1,Dingling

In [543]:
Dongsi_df = pd.read_csv("https://raw.githubusercontent.com/Arif-0123/Proyek_Analisis_Data/main/Air%20Quality%20Dataset/submision/data/PRSA_Data_Dongsi_20130301-20170228.csv")
Dongsi_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,9.0,9.0,3.0,17.0,300.0,89.0,-0.5,1024.5,-21.4,0.0,NNW,5.7,Dongsi
1,2,2013,3,1,1,4.0,4.0,3.0,16.0,300.0,88.0,-0.7,1025.1,-22.1,0.0,NW,3.9,Dongsi
2,3,2013,3,1,2,7.0,7.0,NaN,17.0,300.0,60.0,-1.2,1025.3,-24.6,0.0,NNW,5.3,Dongsi
3,4,2013,3,1,3,3.0,3.0,5.0,18.0,NaN,NaN,-1.4,1026.2,-25.5,0.0,N,4.9,Dongsi
4,5,2013,3,1,4,3.0,3.0,7.0,NaN,200.0,84.0,-1.9,1027.1,-24.5,0.0,NNW,3.2,Dongsi

In [544]:
Guanyuan_df = pd.read_csv("https://raw.githubusercontent.com/Arif-0123/Proyek_Analisis_Data/main/Air%20Quality%20Dataset/submision/data/PRSA_Data_Guanyuan_20130301-20170228.csv")
Guanyuan_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,14.0,20.0,300.0,69.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Guanyuan
1,2,2013,3,1,1,4.0,4.0,13.0,17.0,300.0,72.0,-1.1,1023.2,-18.2,0.0,N,4.7,Guanyuan
2,3,2013,3,1,2,3.0,3.0,10.0,19.0,300.0,69.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Guanyuan
3,4,2013,3,1,3,3.0,6.0,7.0,24.0,400.0,62.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Guanyuan
4,5,2013,3,1,4,3.0,6.0,5.0,14.0,400.0,71.0,-2.0,1025.2,-19.5,0.0,N,2.0,Guanyuan

In [545]:
Gucheng_df = pd.read_csv("https://raw.githubusercontent.com/Arif-0123/Proyek_Analisis_Data/main/Air%20Quality%20Dataset/submision/data/PRSA_Data_Gucheng_20130301-20170228.csv")
Gucheng_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,6.0,18.0,5.0,NaN,800.0,88.0,0.1,1021.1,-18.6,0.0,NW,4.4,Gucheng
1,2,2013,3,1,1,6.0,15.0,5.0,NaN,800.0,88.0,-0.3,1021.5,-19.0,0.0,NW,4.0,Gucheng
2,3,2013,3,1,2,5.0,18.0,NaN,NaN,700.0,52.0,-0.7,1021.5,-19.8,0.0,WNW,4.6,Gucheng
3,4,2013,3,1,3,6.0,20.0,6.0,NaN,NaN,NaN,-1.0,1022.7,-21.2,0.0,W,2.8,Gucheng
4,5,2013,3,1,4,5.0,17.0,5.0,NaN,600.0,73.0,-1.3,1023.0,-21.4,0.0,WNW,3.6,Gucheng

In [546]:
Huairou_df = pd.read_csv("https://raw.githubusercontent.com/Arif-0123/Proyek_Analisis_Data/main/Air%20Quality%20Dataset/submision/data/PRSA_Data_Huairou_20130301-20170228.csv")
Huairou_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,7.0,7.0,3.0,2.0,100.0,91.0,-2.3,1020.3,-20.7,0.0,WNW,3.1,Huairou
1,2,2013,3,1,1,4.0,4.0,3.0,NaN,100.0,92.0,-2.7,1020.8,-20.5,0.0,NNW,1.5,Huairou
2,3,2013,3,1,2,4.0,4.0,NaN,NaN,100.0,91.0,-3.2,1020.6,-21.4,0.0,NW,1.8,Huairou
3,4,2013,3,1,3,3.0,3.0,3.0,2.0,NaN,NaN,-3.3,1021.3,-23.7,0.0,NNW,2.4,Huairou
4,5,2013,3,1,4,3.0,3.0,7.0,NaN,300.0,86.0,-4.1,1022.1,-22.7,0.0,NNW,2.2,Huairou

In [547]:
Nongzhanguan_df = pd.read_csv("https://raw.githubusercontent.com/Arif-0123/Proyek_Analisis_Data/main/Air%20Quality%20Dataset/submision/data/PRSA_Data_Nongzhanguan_20130301-20170228.csv")
Nongzhanguan_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,5.0,14.0,4.0,12.0,200.0,85.0,-0.5,1024.5,-21.4,0.0,NNW,5.7,Nongzhanguan
1,2,2013,3,1,1,8.0,12.0,6.0,14.0,200.0,84.0,-0.7,1025.1,-22.1,0.0,NW,3.9,Nongzhanguan
2,3,2013,3,1,2,3.0,6.0,5.0,14.0,200.0,83.0,-1.2,1025.3,-24.6,0.0,NNW,5.3,Nongzhanguan
3,4,2013,3,1,3,5.0,5.0,5.0,14.0,200.0,84.0,-1.4,1026.2,-25.5,0.0,N,4.9,Nongzhanguan
4,5,2013,3,1,4,5.0,5.0,6.0,21.0,200.0,77.0,-1.9,1027.1,-24.5,0.0,NNW,3.2,Nongzhanguan

In [548]:
Shunyi_df = pd.read_csv("https://raw.githubusercontent.com/Arif-0123/Proyek_Analisis_Data/main/Air%20Quality%20Dataset/submision/data/PRSA_Data_Shunyi_20130301-20170228.csv")
Shunyi_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,3.0,6.0,3.0,8.0,300.0,44.0,-0.9,1025.8,-20.5,0.0,NW,9.3,Shunyi
1,2,2013,3,1,1,12.0,12.0,3.0,7.0,300.0,47.0,-1.1,1026.1,-21.3,0.0,NW,9.4,Shunyi
2,3,2013,3,1,2,14.0,14.0,NaN,7.0,200.0,22.0,-1.7,1026.2,-23.0,0.0,NW,8.6,Shunyi
3,4,2013,3,1,3,12.0,12.0,3.0,5.0,NaN,NaN,-2.1,1027.3,-23.3,0.0,NW,6.6,Shunyi
4,5,2013,3,1,4,12.0,12.0,3.0,NaN,200.0,11.0,-2.4,1027.7,-22.9,0.0,NW,4.5,Shunyi

In [549]:
Tiantan_df = pd.read_csv("https://raw.githubusercontent.com/Arif-0123/Proyek_Analisis_Data/main/Air%20Quality%20Dataset/submision/data/PRSA_Data_Tiantan_20130301-20170228.csv")
Tiantan_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,6.0,6.0,4.0,8.0,300.0,81.0,-0.5,1024.5,-21.4,0.0,NNW,5.7,Tiantan
1,2,2013,3,1,1,6.0,29.0,5.0,9.0,300.0,80.0,-0.7,1025.1,-22.1,0.0,NW,3.9,Tiantan
2,3,2013,3,1,2,6.0,6.0,4.0,12.0,300.0,75.0,-1.2,1025.3,-24.6,0.0,NNW,5.3,Tiantan
3,4,2013,3,1,3,6.0,6.0,4.0,12.0,300.0,74.0,-1.4,1026.2,-25.5,0.0,N,4.9,Tiantan
4,5,2013,3,1,4,5.0,5.0,7.0,15.0,400.0,70.0,-1.9,1027.1,-24.5,0.0,NNW,3.2,Tiantan

In [550]:
Wanliu_df = pd.read_csv("https://raw.githubusercontent.com/Arif-0123/Proyek_Analisis_Data/main/Air%20Quality%20Dataset/submision/data/PRSA_Data_Wanliu_20130301-20170228.csv")
Wanliu_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,8.0,8.0,6.0,28.0,400.0,52.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Wanliu
1,2,2013,3,1,1,9.0,9.0,6.0,28.0,400.0,50.0,-1.1,1023.2,-18.2,0.0,N,4.7,Wanliu
2,3,2013,3,1,2,3.0,6.0,NaN,19.0,400.0,55.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Wanliu
3,4,2013,3,1,3,11.0,30.0,8.0,14.0,NaN,NaN,-1.4,1024.5,-19.4,0.0,NW,3.1,Wanliu
4,5,2013,3,1,4,3.0,13.0,9.0,NaN,300.0,54.0,-2.0,1025.2,-19.5,0.0,N,2.0,Wanliu

In [551]:
Wanshouxigong_df = pd.read_csv("https://raw.githubusercontent.com/Arif-0123/Proyek_Analisis_Data/main/Air%20Quality%20Dataset/submision/data/PRSA_Data_Wanshouxigong_20130301-20170228.csv")
Wanshouxigong_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,9.0,9.0,6.0,17.0,200.0,62.0,0.3,1021.9,-19.0,0.0,WNW,2.0,Wanshouxigong
1,2,2013,3,1,1,11.0,11.0,7.0,14.0,200.0,66.0,-0.1,1022.4,-19.3,0.0,WNW,4.4,Wanshouxigong
2,3,2013,3,1,2,8.0,8.0,NaN,16.0,200.0,59.0,-0.6,1022.6,-19.7,0.0,WNW,4.7,Wanshouxigong
3,4,2013,3,1,3,8.0,8.0,3.0,16.0,NaN,NaN,-0.7,1023.5,-20.9,0.0,NW,2.6,Wanshouxigong
4,5,2013,3,1,4,8.0,8.0,3.0,NaN,300.0,36.0,-0.9,1024.1,-21.7,0.0,WNW,2.5,Wanshouxigong

### Assessing Data

#### Menilai tabel `Aotizhongxin_df`

In [552]:
Aotizhongxin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34139 non-null  float64
 6   PM10     34346 non-null  float64
 7   SO2      34129 non-null  float64
 8   NO2      34041 non-null  float64
 9   CO       33288 non-null  float64
 10  O3       33345 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34983 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

In [553]:
Aotizhongxin_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       925
PM10        718
SO2         935
NO2        1023
CO         1776
O3         1719
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           81
WSPM         14
station       0
dtype: int64

missing value/data kosong

In [554]:
print("Jumlah duplikasi: ",Aotizhongxin_df.duplicated().sum())
Aotizhongxin_df.describe()

Jumlah duplikasi:  0

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34139.000000,34346.000000,34129.000000,34041.000000,33288.000000,33345.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,82.773611,110.060391,17.375901,59.305833,1262.945145,56.353358,13.584607,1011.846920,3.123062,0.067421,1.708496
std,10122.249256,1.177213,3.448752,8.800218,6.922285,82.135694,95.223005,22.823017,37.116200,1221.436236,57.916327,11.399097,10.404047,13.688896,0.910056,1.204071
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,2.000000,100.000000,0.214200,-16.800000,985.900000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,22.000000,38.000000,3.000000,30.000000,500.000000,8.000000,3.100000,1003.300000,-8.100000,0.000000,0.900000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,58.000000,87.000000,9.000000,53.000000,900.000000,42.000000,14.500000,1011.400000,3.800000,0.000000,1.400000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,114.000000,155.000000,21.000000,82.000000,1500.000000,82.000000,23.300000,1020.100000,15.600000,0.000000,2.200000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,898.000000,984.000000,341.000000,290.000000,10000.000000,423.000000,40.500000,1042.000000,28.500000,72.500000,11.200000

In [555]:
Aotizhongxin_df.nunique()

No         35064
year           5
month         12
day           31
hour          24
PM2.5        545
PM10         633
SO2          330
NO2          465
CO           112
O3           831
TEMP         967
PRES         600
DEWP         604
RAIN         127
wd            16
WSPM          91
station        1
dtype: int64

menampilkan berapa jumlah nilai berbeda dari isi setiap tabel

#### Menilai tabel `Changping_df`

In [556]:
Changping_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34290 non-null  float64
 6   PM10     34482 non-null  float64
 7   SO2      34436 non-null  float64
 8   NO2      34397 non-null  float64
 9   CO       33543 non-null  float64
 10  O3       34460 non-null  float64
 11  TEMP     35011 non-null  float64
 12  PRES     35014 non-null  float64
 13  DEWP     35011 non-null  float64
 14  RAIN     35013 non-null  float64
 15  wd       34924 non-null  object
 16  WSPM     35021 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

In [557]:
Changping_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       774
PM10        582
SO2         628
NO2         667
CO         1521
O3          604
TEMP         53
PRES         50
DEWP         53
RAIN         51
wd          140
WSPM         43
station       0
dtype: int64

missing value

In [558]:
print("Jumlah duplikasi: ",Changping_df.duplicated().sum())
Changping_df.describe()

Jumlah duplikasi:  0

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34290.000000,34482.000000,34436.000000,34397.000000,33543.000000,34460.000000,35011.000000,35014.000000,35011.000000,35013.000000,35021.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,71.099743,94.657871,14.958906,44.182086,1152.301345,57.940003,13.686111,1007.760278,1.505495,0.060366,1.853836
std,10122.249256,1.177213,3.448752,8.800218,6.922285,72.326926,83.441738,20.975331,29.519796,1103.056282,54.316674,11.365313,10.225664,13.822099,0.752899,1.309808
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,1.847700,100.000000,0.214200,-16.600000,982.400000,-35.100000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,18.000000,34.000000,2.000000,22.000000,500.000000,15.636600,3.400000,999.300000,-10.200000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,46.000000,72.000000,7.000000,36.000000,800.000000,46.000000,14.700000,1007.400000,1.800000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,100.000000,131.000000,18.000000,60.358200,1400.000000,80.000000,23.300000,1016.000000,14.200000,0.000000,2.300000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,882.000000,999.000000,310.000000,226.000000,10000.000000,429.000000,41.400000,1036.500000,27.200000,52.100000,10.000000

In [559]:
Changping_df.nunique()

No         35064
year           5
month         12
day           31
hour          24
PM2.5        481
PM10         562
SO2          294
NO2          459
CO           115
O3           886
TEMP         998
PRES         592
DEWP         602
RAIN         116
wd            16
WSPM          95
station        1
dtype: int64

#### Menilai tabel `Dingling_df`

In [560]:
Dingling_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34285 non-null  float64
 6   PM10     34408 non-null  float64
 7   SO2      34334 non-null  float64
 8   NO2      33830 non-null  float64
 9   CO       33052 non-null  float64
 10  O3       33850 non-null  float64
 11  TEMP     35011 non-null  float64
 12  PRES     35014 non-null  float64
 13  DEWP     35011 non-null  float64
 14  RAIN     35013 non-null  float64
 15  wd       34924 non-null  object
 16  WSPM     35021 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

In [561]:
Dingling_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       779
PM10        656
SO2         730
NO2        1234
CO         2012
O3         1214
TEMP         53
PRES         50
DEWP         53
RAIN         51
wd          140
WSPM         43
station       0
dtype: int64

missing value

In [562]:
print("Jumlah duplikasi: ",Dingling_df.duplicated().sum())
Dingling_df.describe()

Jumlah duplikasi:  0

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34285.000000,34408.000000,34334.000000,33830.000000,33052.000000,33850.000000,35011.000000,35014.000000,35011.000000,35013.000000,35021.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,65.989497,83.739723,11.749650,27.585467,904.896073,68.548371,13.686111,1007.760278,1.505495,0.060366,1.853836
std,10122.249256,1.177213,3.448752,8.800218,6.922285,72.267723,79.541685,15.519259,26.383882,903.306220,53.764424,11.365313,10.225664,13.822099,0.752899,1.309808
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,1.026500,100.000000,0.214200,-16.600000,982.400000,-35.100000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,14.000000,26.000000,2.000000,9.000000,300.000000,31.000000,3.400000,999.300000,-10.200000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,41.000000,60.000000,5.000000,19.000000,600.000000,61.000000,14.700000,1007.400000,1.800000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,93.000000,117.000000,15.000000,38.000000,1200.000000,90.000000,23.300000,1016.000000,14.200000,0.000000,2.300000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,881.000000,905.000000,156.000000,205.000000,10000.000000,500.000000,41.400000,1036.500000,27.200000,52.100000,10.000000

In [563]:
Dingling_df.nunique()

No         35064
year           5
month         12
day           31
hour          24
PM2.5        486
PM10         554
SO2          327
NO2          636
CO           103
O3           792
TEMP         998
PRES         593
DEWP         602
RAIN         116
wd            16
WSPM          95
station        1
dtype: int64

#### Menilai tabel `Dongsi_df`

In [564]:
Dongsi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34314 non-null  float64
 6   PM10     34511 non-null  float64
 7   SO2      34401 non-null  float64
 8   NO2      33463 non-null  float64
 9   CO       31867 non-null  float64
 10  O3       34400 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34986 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

In [565]:
Dongsi_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       750
PM10        553
SO2         663
NO2        1601
CO         3197
O3          664
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           78
WSPM         14
station       0
dtype: int64

In [566]:
print("Jumlah duplikasi: ",Dongsi_df.duplicated().sum())
Dongsi_df.describe()

Jumlah duplikasi:  0

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34314.000000,34511.000000,34401.000000,33463.000000,31867.000000,34400.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,86.194297,110.336742,18.531107,53.699443,1330.069131,57.210637,13.671490,1012.547419,2.447535,0.064020,1.860785
std,10122.249256,1.177213,3.448752,8.800218,6.922285,86.575127,98.219860,22.905655,33.959230,1191.305887,58.033275,11.458418,10.266059,13.810696,0.786282,1.280368
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,2.000000,100.000000,0.642600,-16.800000,987.100000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,22.000000,38.000000,4.000000,27.000000,600.000000,12.000000,3.100000,1004.000000,-8.800000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,61.000000,86.000000,10.000000,47.000000,1000.000000,44.125200,14.600000,1012.200000,3.000000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,119.000000,151.000000,24.000000,73.000000,1700.000000,81.000000,23.500000,1020.900000,15.000000,0.000000,2.400000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,737.000000,955.000000,300.000000,258.000000,10000.000000,1071.000000,41.100000,1042.000000,28.800000,46.400000,10.500000

In [567]:
Dongsi_df.nunique()

No         35064
year           5
month         12
day           31
hour          24
PM2.5        582
PM10         666
SO2          392
NO2          701
CO           115
O3           737
TEMP         963
PRES         595
DEWP         617
RAIN         119
wd            16
WSPM         101
station        1
dtype: int64

#### Menilai tabel `Guanyuan_df`

In [568]:
Guanyuan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34448 non-null  float64
 6   PM10     34635 non-null  float64
 7   SO2      34590 non-null  float64
 8   NO2      34405 non-null  float64
 9   CO       33311 non-null  float64
 10  O3       33891 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34983 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

In [569]:
Guanyuan_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       616
PM10        429
SO2         474
NO2         659
CO         1753
O3         1173
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           81
WSPM         14
station       0
dtype: int64

In [570]:
print("Jumlah duplikasi: ",Guanyuan_df.duplicated().sum())
Guanyuan_df.describe()

Jumlah duplikasi:  0

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34448.000000,34635.000000,34590.000000,34405.000000,33311.000000,33891.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,82.933372,109.023303,17.590941,57.901643,1271.294377,55.795044,13.584607,1011.846920,3.123062,0.067421,1.708496
std,10122.249256,1.177213,3.448752,8.800218,6.922285,80.933497,91.573709,23.600367,35.150857,1164.854945,57.436983,11.399097,10.404047,13.688896,0.910056,1.204071
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,1.000000,2.000000,100.000000,0.214200,-16.800000,985.900000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,23.000000,40.000000,3.000000,31.000000,500.000000,7.000000,3.100000,1003.300000,-8.100000,0.000000,0.900000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,59.000000,89.000000,8.000000,51.000000,900.000000,41.000000,14.500000,1011.400000,3.800000,0.000000,1.400000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,115.000000,149.000000,22.000000,78.000000,1600.000000,81.000000,23.300000,1020.100000,15.600000,0.000000,2.200000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,680.000000,999.000000,293.000000,270.000000,10000.000000,415.000000,40.500000,1042.000000,28.500000,72.500000,11.200000

In [571]:
Guanyuan_df.nunique()

No         35064
year           5
month         12
day           31
hour          24
PM2.5        557
PM10         630
SO2          280
NO2          376
CO           117
O3           767
TEMP         967
PRES         600
DEWP         604
RAIN         127
wd            16
WSPM          91
station        1
dtype: int64

#### Menilai tabel `Gucheng_df`

In [572]:
Gucheng_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34418 non-null  float64
 6   PM10     34683 non-null  float64
 7   SO2      34557 non-null  float64
 8   NO2      34396 non-null  float64
 9   CO       33663 non-null  float64
 10  O3       34335 non-null  float64
 11  TEMP     35013 non-null  float64
 12  PRES     35014 non-null  float64
 13  DEWP     35013 non-null  float64
 14  RAIN     35021 non-null  float64
 15  wd       34905 non-null  object
 16  WSPM     35022 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

In [573]:
Gucheng_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       646
PM10        381
SO2         507
NO2         668
CO         1401
O3          729
TEMP         51
PRES         50
DEWP         51
RAIN         43
wd          159
WSPM         42
station       0
dtype: int64

In [574]:
print("Jumlah duplikasi: ",Gucheng_df.duplicated().sum())
Gucheng_df.describe()

Jumlah duplikasi:  0

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34418.000000,34683.000000,34557.000000,34396.000000,33663.000000,34335.000000,35013.000000,35014.000000,35013.000000,35021.000000,35022.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,83.852089,118.861978,15.366162,55.871075,1323.974423,57.694879,13.864524,1008.829592,2.610442,0.064453,1.343310
std,10122.249256,1.177213,3.448752,8.800218,6.922285,82.796445,96.742626,21.204526,36.473860,1208.957772,57.019587,11.292857,10.103256,13.782991,0.838654,1.151064
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,2.000000,100.000000,0.214200,-15.600000,984.000000,-34.600000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,24.000000,45.000000,2.000000,26.000000,600.000000,10.000000,3.600000,1000.500000,-8.900000,0.000000,0.600000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,60.000000,99.000000,7.000000,50.000000,900.000000,45.000000,14.800000,1008.500000,3.000000,0.000000,1.000000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,115.750000,167.000000,20.000000,79.000000,1600.000000,83.000000,23.500000,1017.000000,15.300000,0.000000,1.800000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,770.000000,994.000000,500.000000,276.000000,10000.000000,450.000000,41.600000,1038.100000,27.400000,41.900000,12.000000

In [575]:
Gucheng_df.nunique()

No         35064
year           5
month         12
day           31
hour          24
PM2.5        577
PM10         660
SO2          243
NO2          367
CO           116
O3           804
TEMP         995
PRES         592
DEWP         594
RAIN         125
wd            16
WSPM         101
station        1
dtype: int64

#### Menilai tabel `Huairou_df`

In [576]:
Huairou_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34111 non-null  float64
 6   PM10     34287 non-null  float64
 7   SO2      34084 non-null  float64
 8   NO2      33425 non-null  float64
 9   CO       33642 non-null  float64
 10  O3       33913 non-null  float64
 11  TEMP     35013 non-null  float64
 12  PRES     35011 non-null  float64
 13  DEWP     35011 non-null  float64
 14  RAIN     35009 non-null  float64
 15  wd       34762 non-null  object
 16  WSPM     35015 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

In [577]:
Huairou_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       953
PM10        777
SO2         980
NO2        1639
CO         1422
O3         1151
TEMP         51
PRES         53
DEWP         53
RAIN         55
wd          302
WSPM         49
station       0
dtype: int64

In [578]:
print("Jumlah duplikasi: ",Huairou_df.duplicated().sum())
Huairou_df.describe()

Jumlah duplikasi:  0

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34111.000000,34287.000000,34084.000000,33425.000000,33642.000000,33913.000000,35013.000000,35011.000000,35011.000000,35009.000000,35015.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,69.626367,91.482690,12.121553,32.497250,1022.554545,59.824713,12.445426,1007.598568,2.238619,0.067940,1.652021
std,10122.249256,1.177213,3.448752,8.800218,6.922285,71.224916,83.289578,18.896912,26.489531,898.738241,54.605746,11.751103,10.022101,14.052541,0.849046,1.199143
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,1.026500,100.000000,0.214200,-19.900000,982.800000,-43.400000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,17.000000,28.000000,2.000000,12.000000,400.000000,18.000000,2.100000,999.300000,-9.600000,0.000000,0.900000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,47.000000,69.000000,4.000000,25.000000,800.000000,49.000000,13.600000,1007.300000,2.700000,0.000000,1.300000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,98.000000,131.000000,14.000000,46.000000,1300.000000,83.000000,22.300000,1015.500000,15.300000,0.000000,2.000000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,762.000000,993.000000,315.000000,231.000000,10000.000000,444.000000,40.300000,1036.500000,29.100000,45.900000,12.900000

In [579]:
Huairou_df.nunique()

No         35064
year           5
month         12
day           31
hour          24
PM2.5        479
PM10         556
SO2          247
NO2          296
CO           108
O3           812
TEMP        1012
PRES         589
DEWP         617
RAIN         128
wd            16
WSPM         105
station        1
dtype: int64

#### Menilai tabel `Nongzhanguan_df`

In [580]:
Nongzhanguan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34436 non-null  float64
 6   PM10     34624 non-null  float64
 7   SO2      34618 non-null  float64
 8   NO2      34372 non-null  float64
 9   CO       33858 non-null  float64
 10  O3       34558 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34986 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

In [581]:
Nongzhanguan_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       628
PM10        440
SO2         446
NO2         692
CO         1206
O3          506
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           78
WSPM         14
station       0
dtype: int64

In [582]:
print("Jumlah duplikasi: ",Nongzhanguan_df.duplicated().sum())
Nongzhanguan_df.describe()

Jumlah duplikasi:  0

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34436.000000,34624.000000,34618.000000,34372.000000,33858.000000,34558.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,84.838483,108.991096,18.689242,58.097172,1324.350198,58.534682,13.671490,1012.547419,2.447535,0.064020,1.860785
std,10122.249256,1.177213,3.448752,8.800218,6.922285,86.225344,95.341177,24.280665,36.297740,1245.166124,58.401448,11.458418,10.266059,13.810696,0.786282,1.280368
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.571200,2.000000,100.000000,0.214200,-16.800000,987.100000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,22.000000,38.000000,3.000000,29.000000,500.000000,10.000000,3.100000,1004.000000,-8.800000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,59.000000,85.000000,9.000000,51.000000,900.000000,45.000000,14.600000,1012.200000,3.000000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,116.000000,149.000000,23.000000,80.000000,1600.000000,84.000000,23.500000,1020.900000,15.000000,0.000000,2.400000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,844.000000,995.000000,257.000000,273.000000,10000.000000,390.000000,41.100000,1042.000000,28.800000,46.400000,10.500000

In [583]:
Nongzhanguan_df.nunique()

No         35064
year           5
month         12
day           31
hour          24
PM2.5        565
PM10         649
SO2          263
NO2          595
CO           115
O3           732
TEMP         963
PRES         595
DEWP         617
RAIN         119
wd            16
WSPM         101
station        1
dtype: int64

#### Menilai tabel `Shunyi_df`

In [584]:
Shunyi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34151 non-null  float64
 6   PM10     34516 non-null  float64
 7   SO2      33768 non-null  float64
 8   NO2      33699 non-null  float64
 9   CO       32886 non-null  float64
 10  O3       33575 non-null  float64
 11  TEMP     35013 non-null  float64
 12  PRES     35013 non-null  float64
 13  DEWP     35010 non-null  float64
 14  RAIN     35013 non-null  float64
 15  wd       34581 non-null  object
 16  WSPM     35020 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

In [585]:
Shunyi_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       913
PM10        548
SO2        1296
NO2        1365
CO         2178
O3         1489
TEMP         51
PRES         51
DEWP         54
RAIN         51
wd          483
WSPM         44
station       0
dtype: int64

In [586]:
print("Jumlah duplikasi: ",Shunyi_df.duplicated().sum())
Shunyi_df.describe()

Jumlah duplikasi:  0

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34151.000000,34516.000000,33768.000000,33699.000000,32886.000000,33575.000000,35013.000000,35013.000000,35010.000000,35013.000000,35020.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,79.491602,98.737026,13.572039,43.908865,1187.063979,55.201321,13.387969,1013.061938,2.465036,0.061094,1.807533
std,10122.249256,1.177213,3.448752,8.800218,6.922285,81.231739,89.143718,19.572068,30.996828,1156.374102,54.873726,11.483588,10.177339,13.726622,0.761668,1.287817
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,2.000000,100.000000,0.214200,-16.800000,988.000000,-36.000000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,19.000000,31.000000,2.000000,19.000000,400.000000,10.000000,3.000000,1004.700000,-8.800000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,55.000000,77.000000,5.000000,37.000000,800.000000,43.000000,14.400000,1012.700000,3.100000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,112.000000,138.000000,17.000000,62.000000,1500.000000,77.000000,23.200000,1021.000000,15.100000,0.000000,2.300000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,941.000000,999.000000,239.000000,258.000000,10000.000000,351.716400,40.600000,1042.800000,27.500000,37.300000,12.800000

In [587]:
Shunyi_df.nunique()

No         35064
year           5
month         12
day           31
hour          24
PM2.5        567
PM10         605
SO2          267
NO2          517
CO           115
O3           961
TEMP         985
PRES         602
DEWP         608
RAIN         120
wd            16
WSPM         103
station        1
dtype: int64

#### Menilai tabel `Tiantan_df`

In [588]:
Tiantan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34387 non-null  float64
 6   PM10     34467 non-null  float64
 7   SO2      33946 non-null  float64
 8   NO2      34320 non-null  float64
 9   CO       33938 non-null  float64
 10  O3       34221 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34986 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

In [589]:
Tiantan_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       677
PM10        597
SO2        1118
NO2         744
CO         1126
O3          843
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           78
WSPM         14
station       0
dtype: int64

In [590]:
print("Jumlah duplikasi: ",Tiantan_df.duplicated().sum())
Tiantan_df.describe()

Jumlah duplikasi:  0

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34387.000000,34467.000000,33946.000000,34320.000000,33938.000000,34221.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,82.164911,106.363672,14.367615,53.162646,1298.303318,55.984297,13.671490,1012.547419,2.447535,0.064020,1.860785
std,10122.249256,1.177213,3.448752,8.800218,6.922285,80.921384,89.700157,20.144631,31.946224,1170.593297,59.081528,11.458418,10.266059,13.810696,0.786282,1.280368
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.571200,2.000000,100.000000,0.428400,-16.800000,987.100000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,22.000000,41.000000,3.000000,28.000000,500.000000,8.000000,3.100000,1004.000000,-8.800000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,59.000000,85.000000,7.000000,47.000000,900.000000,40.000000,14.600000,1012.200000,3.000000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,113.000000,144.000000,17.000000,71.000000,1600.000000,81.000000,23.500000,1020.900000,15.000000,0.000000,2.400000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,821.000000,988.000000,273.000000,241.000000,10000.000000,674.000000,41.100000,1042.000000,28.800000,46.400000,10.500000

In [591]:
Tiantan_df.nunique()

No         35064
year           5
month         12
day           31
hour          24
PM2.5        545
PM10         640
SO2          259
NO2          319
CO           117
O3           678
TEMP         963
PRES         595
DEWP         617
RAIN         119
wd            16
WSPM         101
station        1
dtype: int64

#### Menilai tabel `Wanliu_df`

In [592]:
Wanliu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34682 non-null  float64
 6   PM10     34780 non-null  float64
 7   SO2      34489 non-null  float64
 8   NO2      33994 non-null  float64
 9   CO       33252 non-null  float64
 10  O3       32957 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34941 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

In [593]:
Wanliu_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       382
PM10        284
SO2         575
NO2        1070
CO         1812
O3         2107
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd          123
WSPM         14
station       0
dtype: int64

In [594]:
print("Jumlah duplikasi: ",Wanliu_df.duplicated().sum())
Wanliu_df.describe()

Jumlah duplikasi:  0

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34682.000000,34780.000000,34489.000000,33994.000000,33252.000000,32957.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,83.374716,110.464618,18.376481,65.258789,1319.353513,48.873614,13.428865,1011.097536,3.266588,0.068263,1.501215
std,10122.249256,1.177213,3.448752,8.800218,6.922285,81.905568,92.795065,22.609648,37.996088,1268.114331,55.111740,11.346931,10.355247,13.678060,0.896726,1.104472
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,1.642400,100.000000,0.214200,-15.800000,985.900000,-34.900000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,23.000000,40.000000,4.000000,36.000000,500.000000,4.000000,3.200000,1002.500000,-8.100000,0.000000,0.800000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,59.000000,88.000000,10.000000,60.000000,900.000000,32.000000,14.300000,1010.800000,4.000000,0.000000,1.200000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,116.000000,153.000000,23.000000,88.000000,1600.000000,73.000000,22.900000,1019.400000,15.800000,0.000000,2.000000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,957.000000,951.000000,282.000000,264.000000,10000.000000,364.000000,40.500000,1040.300000,28.500000,72.500000,11.200000

In [595]:
Wanliu_df.nunique()

No         35064
year           5
month         12
day           31
hour          24
PM2.5        539
PM10         616
SO2          460
NO2          958
CO           120
O3           734
TEMP         971
PRES         593
DEWP         600
RAIN         125
wd            16
WSPM          86
station        1
dtype: int64

#### Menilai tabel `Wanshouxigong_df`

In [596]:
Wanshouxigong_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34368 non-null  float64
 6   PM10     34580 non-null  float64
 7   SO2      34395 non-null  float64
 8   NO2      34310 non-null  float64
 9   CO       33767 non-null  float64
 10  O3       33986 non-null  float64
 11  TEMP     35045 non-null  float64
 12  PRES     35045 non-null  float64
 13  DEWP     35045 non-null  float64
 14  RAIN     35045 non-null  float64
 15  wd       34985 non-null  object
 16  WSPM     35051 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

In [597]:
Wanshouxigong_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       696
PM10        484
SO2         669
NO2         754
CO         1297
O3         1078
TEMP         19
PRES         19
DEWP         19
RAIN         19
wd           79
WSPM         13
station       0
dtype: int64

In [598]:
print("Jumlah duplikasi: ",Wanshouxigong_df.duplicated().sum())
Wanshouxigong_df.describe()

Jumlah duplikasi:  0

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34368.000000,34580.000000,34395.000000,34310.00000,33767.000000,33986.000000,35045.000000,35045.000000,35045.000000,35045.000000,35051.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,85.024136,112.223459,17.148603,55.52956,1370.395031,56.229904,13.784477,1011.511804,2.707442,0.064320,1.745314
std,10122.249256,1.177213,3.448752,8.800218,6.922285,85.975981,97.593210,23.940834,35.80805,1223.139114,57.082710,11.385156,10.570928,13.704139,0.796981,1.206355
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,2.00000,100.000000,0.214200,-16.800000,985.100000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,23.000000,39.000000,3.000000,28.00000,600.000000,8.000000,3.400000,1002.800000,-8.500000,0.000000,0.900000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,60.000000,91.000000,8.000000,49.00000,1000.000000,42.000000,14.800000,1011.000000,3.300000,0.000000,1.400000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,116.000000,154.000000,21.000000,77.00000,1700.000000,82.000000,23.500000,1020.000000,15.200000,0.000000,2.300000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,999.000000,961.000000,411.000000,251.00000,9800.000000,358.000000,40.600000,1042.000000,28.500000,46.400000,13.200000

In [599]:
Wanshouxigong_df.nunique()

No         35064
year           5
month         12
day           31
hour          24
PM2.5        585
PM10         648
SO2          279
NO2          422
CO           116
O3           716
TEMP         965
PRES         607
DEWP         608
RAIN         121
wd            16
WSPM          96
station        1
dtype: int64

### Cleaning Data



1. Memperbaiki missing value pada setiap tabel dengan mengantikannya dengan nilai mean dan nilai terbanyak

#### Membersihkan tabel `Aotizhongxin_df`

In [600]:
Aotizhongxin_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34139.000000,34346.000000,34129.000000,34041.000000,33288.000000,33345.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,82.773611,110.060391,17.375901,59.305833,1262.945145,56.353358,13.584607,1011.846920,3.123062,0.067421,1.708496
std,10122.249256,1.177213,3.448752,8.800218,6.922285,82.135694,95.223005,22.823017,37.116200,1221.436236,57.916327,11.399097,10.404047,13.688896,0.910056,1.204071
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,2.000000,100.000000,0.214200,-16.800000,985.900000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,22.000000,38.000000,3.000000,30.000000,500.000000,8.000000,3.100000,1003.300000,-8.100000,0.000000,0.900000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,58.000000,87.000000,9.000000,53.000000,900.000000,42.000000,14.500000,1011.400000,3.800000,0.000000,1.400000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,114.000000,155.000000,21.000000,82.000000,1500.000000,82.000000,23.300000,1020.100000,15.600000,0.000000,2.200000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,898.000000,984.000000,341.000000,290.000000,10000.000000,423.000000,40.500000,1042.000000,28.500000,72.500000,11.200000

In [601]:
Aotizhongxin_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       925
PM10        718
SO2         935
NO2        1023
CO         1776
O3         1719
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           81
WSPM         14
station       0
dtype: int64

Perbaiki missing value dengan mengisi data mean

In [602]:
perbaiki_missingvalue = Aotizhongxin_df["PM2.5"].mean()
Aotizhongxin_df["PM2.5"] = Aotizhongxin_df["PM2.5"].fillna(perbaiki_missingvalue)

In [603]:
perbaiki_missingvalue = Aotizhongxin_df["PM10"].mean()
Aotizhongxin_df["PM10"] = Aotizhongxin_df["PM10"].fillna(perbaiki_missingvalue)

In [604]:
perbaiki_missingvalue = Aotizhongxin_df["SO2"].mean()
Aotizhongxin_df["SO2"] = Aotizhongxin_df["SO2"].fillna(perbaiki_missingvalue)

In [605]:
perbaiki_missingvalue = Aotizhongxin_df["NO2"].mean()
Aotizhongxin_df["NO2"] = Aotizhongxin_df["NO2"].fillna(perbaiki_missingvalue)

In [606]:
perbaiki_missingvalue = Aotizhongxin_df["CO"].mean()
Aotizhongxin_df["CO"] = Aotizhongxin_df["CO"].fillna(perbaiki_missingvalue)

In [607]:
perbaiki_missingvalue = Aotizhongxin_df["O3"].mean()
Aotizhongxin_df["O3"] = Aotizhongxin_df["O3"].fillna(perbaiki_missingvalue)

In [608]:
perbaiki_missingvalue = Aotizhongxin_df["TEMP"].mean()
Aotizhongxin_df["TEMP"] = Aotizhongxin_df["TEMP"].fillna(perbaiki_missingvalue)

In [609]:
perbaiki_missingvalue = Aotizhongxin_df["PRES"].mean()
Aotizhongxin_df["PRES"] = Aotizhongxin_df["PRES"].fillna(perbaiki_missingvalue)

In [610]:
perbaiki_missingvalue = Aotizhongxin_df["DEWP"].mean()
Aotizhongxin_df["DEWP"] = Aotizhongxin_df["DEWP"].fillna(perbaiki_missingvalue)

In [611]:
perbaiki_missingvalue = Aotizhongxin_df["RAIN"].mean()
Aotizhongxin_df["RAIN"] = Aotizhongxin_df["RAIN"].fillna(perbaiki_missingvalue)

In [612]:
perbaiki_missingvalue = Aotizhongxin_df["WSPM"].mean()
Aotizhongxin_df["WSPM"] = Aotizhongxin_df["WSPM"].fillna(perbaiki_missingvalue)

In [613]:
Aotizhongxin_df.isna().sum()

No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP        0
PRES        0
DEWP        0
RAIN        0
wd         81
WSPM        0
station     0
dtype: int64

In [614]:
Aotizhongxin_df.wd.value_counts()

NE     5140
ENE    3950
SW     3359
E      2608
NNE    2445
WSW    2212
SSW    2098
N      2066
NW     1860
ESE    1717
NNW    1589
SE     1341
S      1304
W      1171
WNW    1101
SSE    1022
Name: wd, dtype: int64

Perbaiki missing value type data object/string

In [615]:
Aotizhongxin_df['wd'].fillna(value='NE', inplace=True)

In [616]:
Aotizhongxin_df.isna().sum()

No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

#### Membersihkan tabel `Changping_df`

In [617]:
Changping_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34290.000000,34482.000000,34436.000000,34397.000000,33543.000000,34460.000000,35011.000000,35014.000000,35011.000000,35013.000000,35021.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,71.099743,94.657871,14.958906,44.182086,1152.301345,57.940003,13.686111,1007.760278,1.505495,0.060366,1.853836
std,10122.249256,1.177213,3.448752,8.800218,6.922285,72.326926,83.441738,20.975331,29.519796,1103.056282,54.316674,11.365313,10.225664,13.822099,0.752899,1.309808
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,1.847700,100.000000,0.214200,-16.600000,982.400000,-35.100000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,18.000000,34.000000,2.000000,22.000000,500.000000,15.636600,3.400000,999.300000,-10.200000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,46.000000,72.000000,7.000000,36.000000,800.000000,46.000000,14.700000,1007.400000,1.800000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,100.000000,131.000000,18.000000,60.358200,1400.000000,80.000000,23.300000,1016.000000,14.200000,0.000000,2.300000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,882.000000,999.000000,310.000000,226.000000,10000.000000,429.000000,41.400000,1036.500000,27.200000,52.100000,10.000000

In [618]:
Changping_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       774
PM10        582
SO2         628
NO2         667
CO         1521
O3          604
TEMP         53
PRES         50
DEWP         53
RAIN         51
wd          140
WSPM         43
station       0
dtype: int64

Perbaiki missing value dengan mengisi data mean

In [619]:
perbaiki_missingvalue = Changping_df["PM2.5"].mean()
Changping_df["PM2.5"] = Changping_df["PM2.5"].fillna(perbaiki_missingvalue)

In [620]:
perbaiki_missingvalue = Changping_df["PM10"].mean()
Changping_df["PM10"] = Changping_df["PM10"].fillna(perbaiki_missingvalue)

In [621]:
perbaiki_missingvalue = Changping_df["SO2"].mean()
Changping_df["SO2"] = Changping_df["SO2"].fillna(perbaiki_missingvalue)

In [622]:
perbaiki_missingvalue = Changping_df["NO2"].mean()
Changping_df["NO2"] = Changping_df["NO2"].fillna(perbaiki_missingvalue)

In [623]:
perbaiki_missingvalue = Changping_df["CO"].mean()
Changping_df["CO"] = Changping_df["CO"].fillna(perbaiki_missingvalue)

In [624]:
perbaiki_missingvalue = Changping_df["O3"].mean()
Changping_df["O3"] = Changping_df["O3"].fillna(perbaiki_missingvalue)

In [625]:
perbaiki_missingvalue = Changping_df["TEMP"].mean()
Changping_df["TEMP"] = Changping_df["TEMP"].fillna(perbaiki_missingvalue)

In [626]:
perbaiki_missingvalue = Changping_df["PRES"].mean()
Changping_df["PRES"] = Changping_df["PRES"].fillna(perbaiki_missingvalue)

In [627]:
perbaiki_missingvalue = Changping_df["DEWP"].mean()
Changping_df["DEWP"] = Changping_df["DEWP"].fillna(perbaiki_missingvalue)

In [628]:
perbaiki_missingvalue = Changping_df["RAIN"].mean()
Changping_df["RAIN"] = Changping_df["RAIN"].fillna(perbaiki_missingvalue)

In [629]:
perbaiki_missingvalue = Changping_df["WSPM"].mean()
Changping_df["WSPM"] = Changping_df["WSPM"].fillna(perbaiki_missingvalue)

In [630]:
Changping_df.isna().sum()

No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10         0
SO2          0
NO2          0
CO           0
O3           0
TEMP         0
PRES         0
DEWP         0
RAIN         0
wd         140
WSPM         0
station      0
dtype: int64

In [631]:
Changping_df.wd.value_counts()

NNW    4776
NW     3838
N      3777
WNW    2877
ESE    2786
E      2427
NNE    1919
SSE    1853
SE     1823
NE     1721
S      1700
W      1412
ENE    1305
SSW    1126
SW      880
WSW     704
Name: wd, dtype: int64

Perbaiki missing value type data object/string

In [632]:
Changping_df['wd'].fillna(value='NNW', inplace=True)

In [633]:
Changping_df.isna().sum()

No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

#### Membersihkan tabel `Dingling_df`

In [634]:
Dingling_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34285.000000,34408.000000,34334.000000,33830.000000,33052.000000,33850.000000,35011.000000,35014.000000,35011.000000,35013.000000,35021.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,65.989497,83.739723,11.749650,27.585467,904.896073,68.548371,13.686111,1007.760278,1.505495,0.060366,1.853836
std,10122.249256,1.177213,3.448752,8.800218,6.922285,72.267723,79.541685,15.519259,26.383882,903.306220,53.764424,11.365313,10.225664,13.822099,0.752899,1.309808
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,1.026500,100.000000,0.214200,-16.600000,982.400000,-35.100000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,14.000000,26.000000,2.000000,9.000000,300.000000,31.000000,3.400000,999.300000,-10.200000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,41.000000,60.000000,5.000000,19.000000,600.000000,61.000000,14.700000,1007.400000,1.800000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,93.000000,117.000000,15.000000,38.000000,1200.000000,90.000000,23.300000,1016.000000,14.200000,0.000000,2.300000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,881.000000,905.000000,156.000000,205.000000,10000.000000,500.000000,41.400000,1036.500000,27.200000,52.100000,10.000000

In [635]:
Dingling_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       779
PM10        656
SO2         730
NO2        1234
CO         2012
O3         1214
TEMP         53
PRES         50
DEWP         53
RAIN         51
wd          140
WSPM         43
station       0
dtype: int64

Perbaiki missing value dengan mengisi data mean

In [636]:
perbaiki_missingvalue = Dingling_df["PM2.5"].mean()
Dingling_df["PM2.5"] = Dingling_df["PM2.5"].fillna(perbaiki_missingvalue)

In [637]:
perbaiki_missingvalue = Dingling_df["PM10"].mean()
Dingling_df["PM10"] = Dingling_df["PM10"].fillna(perbaiki_missingvalue)

In [638]:
perbaiki_missingvalue = Dingling_df["SO2"].mean()
Dingling_df["SO2"] = Dingling_df["SO2"].fillna(perbaiki_missingvalue)

In [639]:
perbaiki_missingvalue = Dingling_df["NO2"].mean()
Dingling_df["NO2"] = Dingling_df["NO2"].fillna(perbaiki_missingvalue)

In [640]:
perbaiki_missingvalue = Dingling_df["CO"].mean()
Dingling_df["CO"] = Dingling_df["CO"].fillna(perbaiki_missingvalue)

In [641]:
perbaiki_missingvalue = Dingling_df["O3"].mean()
Dingling_df["O3"] = Dingling_df["O3"].fillna(perbaiki_missingvalue)

In [642]:
perbaiki_missingvalue = Dingling_df["TEMP"].mean()
Dingling_df["TEMP"] = Dingling_df["TEMP"].fillna(perbaiki_missingvalue)

In [643]:
perbaiki_missingvalue = Dingling_df["PRES"].mean()
Dingling_df["PRES"] = Dingling_df["PRES"].fillna(perbaiki_missingvalue)

In [644]:
perbaiki_missingvalue = Dingling_df["DEWP"].mean()
Dingling_df["DEWP"] = Dingling_df["DEWP"].fillna(perbaiki_missingvalue)

In [645]:
perbaiki_missingvalue = Dingling_df["RAIN"].mean()
Dingling_df["RAIN"] = Dingling_df["RAIN"].fillna(perbaiki_missingvalue)

In [646]:
perbaiki_missingvalue = Dingling_df["WSPM"].mean()
Dingling_df["WSPM"] = Dingling_df["WSPM"].fillna(perbaiki_missingvalue)

In [647]:
Dingling_df.isna().sum()

No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10         0
SO2          0
NO2          0
CO           0
O3           0
TEMP         0
PRES         0
DEWP         0
RAIN         0
wd         140
WSPM         0
station      0
dtype: int64

In [648]:
Dingling_df.wd.value_counts()

NNW    4776
NW     3838
N      3777
WNW    2877
ESE    2786
E      2427
NNE    1919
SSE    1853
SE     1823
NE     1721
S      1700
W      1412
ENE    1305
SSW    1126
SW      880
WSW     704
Name: wd, dtype: int64

Perbaiki missing value type data object/string

In [649]:
Dingling_df['wd'].fillna(value='NNW', inplace=True)

In [650]:
Dingling_df.isna().sum()

No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

#### Membersihkan tabel `Dongsi_df`

In [651]:
Dongsi_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34314.000000,34511.000000,34401.000000,33463.000000,31867.000000,34400.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,86.194297,110.336742,18.531107,53.699443,1330.069131,57.210637,13.671490,1012.547419,2.447535,0.064020,1.860785
std,10122.249256,1.177213,3.448752,8.800218,6.922285,86.575127,98.219860,22.905655,33.959230,1191.305887,58.033275,11.458418,10.266059,13.810696,0.786282,1.280368
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,2.000000,100.000000,0.642600,-16.800000,987.100000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,22.000000,38.000000,4.000000,27.000000,600.000000,12.000000,3.100000,1004.000000,-8.800000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,61.000000,86.000000,10.000000,47.000000,1000.000000,44.125200,14.600000,1012.200000,3.000000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,119.000000,151.000000,24.000000,73.000000,1700.000000,81.000000,23.500000,1020.900000,15.000000,0.000000,2.400000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,737.000000,955.000000,300.000000,258.000000,10000.000000,1071.000000,41.100000,1042.000000,28.800000,46.400000,10.500000

In [652]:
Dongsi_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       750
PM10        553
SO2         663
NO2        1601
CO         3197
O3          664
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           78
WSPM         14
station       0
dtype: int64

Perbaiki missing value dengan mengisi data mean

In [653]:
perbaiki_missingvalue = Dongsi_df["PM2.5"].mean()
Dongsi_df["PM2.5"] = Dongsi_df["PM2.5"].fillna(perbaiki_missingvalue)

In [654]:
perbaiki_missingvalue = Dongsi_df["PM10"].mean()
Dongsi_df["PM10"] = Dongsi_df["PM10"].fillna(perbaiki_missingvalue)

In [655]:
perbaiki_missingvalue = Dongsi_df["SO2"].mean()
Dongsi_df["SO2"] = Dongsi_df["SO2"].fillna(perbaiki_missingvalue)

In [656]:
perbaiki_missingvalue = Dongsi_df["NO2"].mean()
Dongsi_df["NO2"] = Dongsi_df["NO2"].fillna(perbaiki_missingvalue)

In [657]:
perbaiki_missingvalue = Dongsi_df["CO"].mean()
Dongsi_df["CO"] = Dongsi_df["CO"].fillna(perbaiki_missingvalue)

In [658]:
perbaiki_missingvalue = Dongsi_df["O3"].mean()
Dongsi_df["O3"] = Dongsi_df["O3"].fillna(perbaiki_missingvalue)

In [659]:
perbaiki_missingvalue = Dongsi_df["TEMP"].mean()
Dongsi_df["TEMP"] = Dongsi_df["TEMP"].fillna(perbaiki_missingvalue)

In [660]:
perbaiki_missingvalue = Dongsi_df["PRES"].mean()
Dongsi_df["PRES"] = Dongsi_df["PRES"].fillna(perbaiki_missingvalue)

In [661]:
perbaiki_missingvalue = Dongsi_df["DEWP"].mean()
Dongsi_df["DEWP"] = Dongsi_df["DEWP"].fillna(perbaiki_missingvalue)

In [662]:
perbaiki_missingvalue = Dongsi_df["RAIN"].mean()
Dongsi_df["RAIN"] = Dongsi_df["RAIN"].fillna(perbaiki_missingvalue)

In [663]:
perbaiki_missingvalue = Dongsi_df["WSPM"].mean()
Dongsi_df["WSPM"] = Dongsi_df["WSPM"].fillna(perbaiki_missingvalue)

In [664]:
Dongsi_df.isna().sum()

No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP        0
PRES        0
DEWP        0
RAIN        0
wd         78
WSPM        0
station     0
dtype: int64

In [665]:
Dongsi_df.wd.value_counts()

ENE    3861
E      3564
NE     3540
ESE    2706
SW     2481
NW     2466
SSW    1953
NNE    1928
SE     1880
N      1865
WSW    1769
NNW    1693
S      1547
SSE    1402
WNW    1347
W       984
Name: wd, dtype: int64

Perbaiki missing value type data object/string

In [666]:
Dongsi_df['wd'].fillna(value='ENE', inplace=True)

In [667]:
Dongsi_df.isna().sum()

No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

#### Membersihkan tabel `Guanyuan_df`

In [668]:
Guanyuan_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34448.000000,34635.000000,34590.000000,34405.000000,33311.000000,33891.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,82.933372,109.023303,17.590941,57.901643,1271.294377,55.795044,13.584607,1011.846920,3.123062,0.067421,1.708496
std,10122.249256,1.177213,3.448752,8.800218,6.922285,80.933497,91.573709,23.600367,35.150857,1164.854945,57.436983,11.399097,10.404047,13.688896,0.910056,1.204071
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,1.000000,2.000000,100.000000,0.214200,-16.800000,985.900000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,23.000000,40.000000,3.000000,31.000000,500.000000,7.000000,3.100000,1003.300000,-8.100000,0.000000,0.900000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,59.000000,89.000000,8.000000,51.000000,900.000000,41.000000,14.500000,1011.400000,3.800000,0.000000,1.400000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,115.000000,149.000000,22.000000,78.000000,1600.000000,81.000000,23.300000,1020.100000,15.600000,0.000000,2.200000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,680.000000,999.000000,293.000000,270.000000,10000.000000,415.000000,40.500000,1042.000000,28.500000,72.500000,11.200000

In [669]:
Guanyuan_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       616
PM10        429
SO2         474
NO2         659
CO         1753
O3         1173
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           81
WSPM         14
station       0
dtype: int64

Perbaiki missing value dengan mengisi data mean

In [670]:
perbaiki_missingvalue = Guanyuan_df["PM2.5"].mean()
Guanyuan_df["PM2.5"] = Guanyuan_df["PM2.5"].fillna(perbaiki_missingvalue)

In [671]:
perbaiki_missingvalue = Guanyuan_df["PM10"].mean()
Guanyuan_df["PM10"] = Guanyuan_df["PM10"].fillna(perbaiki_missingvalue)

In [672]:
perbaiki_missingvalue = Guanyuan_df["SO2"].mean()
Guanyuan_df["SO2"] = Guanyuan_df["SO2"].fillna(perbaiki_missingvalue)

In [673]:
perbaiki_missingvalue = Guanyuan_df["NO2"].mean()
Guanyuan_df["NO2"] = Guanyuan_df["NO2"].fillna(perbaiki_missingvalue)

In [674]:
perbaiki_missingvalue = Guanyuan_df["CO"].mean()
Guanyuan_df["CO"] = Guanyuan_df["CO"].fillna(perbaiki_missingvalue)

In [675]:
perbaiki_missingvalue = Guanyuan_df["O3"].mean()
Guanyuan_df["O3"] = Guanyuan_df["O3"].fillna(perbaiki_missingvalue)

In [676]:
perbaiki_missingvalue = Guanyuan_df["TEMP"].mean()
Guanyuan_df["TEMP"] = Guanyuan_df["TEMP"].fillna(perbaiki_missingvalue)

In [677]:
perbaiki_missingvalue = Guanyuan_df["PRES"].mean()
Guanyuan_df["PRES"] = Guanyuan_df["PRES"].fillna(perbaiki_missingvalue)

In [678]:
perbaiki_missingvalue = Guanyuan_df["DEWP"].mean()
Guanyuan_df["DEWP"] = Guanyuan_df["DEWP"].fillna(perbaiki_missingvalue)

In [679]:
perbaiki_missingvalue = Guanyuan_df["RAIN"].mean()
Guanyuan_df["RAIN"] = Guanyuan_df["RAIN"].fillna(perbaiki_missingvalue)

In [680]:
perbaiki_missingvalue = Guanyuan_df["WSPM"].mean()
Guanyuan_df["WSPM"] = Guanyuan_df["WSPM"].fillna(perbaiki_missingvalue)

In [681]:
Guanyuan_df.isna().sum()

No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP        0
PRES        0
DEWP        0
RAIN        0
wd         81
WSPM        0
station     0
dtype: int64

In [682]:
Guanyuan_df.wd.value_counts()

NE     5140
ENE    3950
SW     3359
E      2608
NNE    2445
WSW    2212
SSW    2098
N      2066
NW     1860
ESE    1717
NNW    1589
SE     1341
S      1304
W      1171
WNW    1101
SSE    1022
Name: wd, dtype: int64

Perbaiki missing value type data object/string

In [683]:
Guanyuan_df['wd'].fillna(value='NE', inplace=True)

In [684]:
Guanyuan_df.isna().sum()

No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

#### Membersihkan tabel `Gucheng_df`

In [685]:
Gucheng_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34418.000000,34683.000000,34557.000000,34396.000000,33663.000000,34335.000000,35013.000000,35014.000000,35013.000000,35021.000000,35022.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,83.852089,118.861978,15.366162,55.871075,1323.974423,57.694879,13.864524,1008.829592,2.610442,0.064453,1.343310
std,10122.249256,1.177213,3.448752,8.800218,6.922285,82.796445,96.742626,21.204526,36.473860,1208.957772,57.019587,11.292857,10.103256,13.782991,0.838654,1.151064
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,2.000000,100.000000,0.214200,-15.600000,984.000000,-34.600000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,24.000000,45.000000,2.000000,26.000000,600.000000,10.000000,3.600000,1000.500000,-8.900000,0.000000,0.600000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,60.000000,99.000000,7.000000,50.000000,900.000000,45.000000,14.800000,1008.500000,3.000000,0.000000,1.000000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,115.750000,167.000000,20.000000,79.000000,1600.000000,83.000000,23.500000,1017.000000,15.300000,0.000000,1.800000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,770.000000,994.000000,500.000000,276.000000,10000.000000,450.000000,41.600000,1038.100000,27.400000,41.900000,12.000000

In [686]:
Gucheng_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       646
PM10        381
SO2         507
NO2         668
CO         1401
O3          729
TEMP         51
PRES         50
DEWP         51
RAIN         43
wd          159
WSPM         42
station       0
dtype: int64

Perbaiki missing value dengan mengisi data mean

In [687]:
perbaiki_missingvalue = Gucheng_df["PM2.5"].mean()
Gucheng_df["PM2.5"] = Gucheng_df["PM2.5"].fillna(perbaiki_missingvalue)

In [688]:
perbaiki_missingvalue = Gucheng_df["PM10"].mean()
Gucheng_df["PM10"] = Gucheng_df["PM10"].fillna(perbaiki_missingvalue)

In [689]:
perbaiki_missingvalue = Gucheng_df["SO2"].mean()
Gucheng_df["SO2"] = Gucheng_df["SO2"].fillna(perbaiki_missingvalue)

In [690]:
perbaiki_missingvalue = Gucheng_df["NO2"].mean()
Gucheng_df["NO2"] = Gucheng_df["NO2"].fillna(perbaiki_missingvalue)

In [691]:
perbaiki_missingvalue = Gucheng_df["CO"].mean()
Gucheng_df["CO"] = Gucheng_df["CO"].fillna(perbaiki_missingvalue)

In [692]:
perbaiki_missingvalue = Gucheng_df["O3"].mean()
Gucheng_df["O3"] = Gucheng_df["O3"].fillna(perbaiki_missingvalue)

In [693]:
perbaiki_missingvalue = Gucheng_df["TEMP"].mean()
Gucheng_df["TEMP"] = Gucheng_df["TEMP"].fillna(perbaiki_missingvalue)

In [694]:
perbaiki_missingvalue = Gucheng_df["PRES"].mean()
Gucheng_df["PRES"] = Gucheng_df["PRES"].fillna(perbaiki_missingvalue)

In [695]:
perbaiki_missingvalue = Gucheng_df["DEWP"].mean()
Gucheng_df["DEWP"] = Gucheng_df["DEWP"].fillna(perbaiki_missingvalue)

In [696]:
perbaiki_missingvalue = Gucheng_df["RAIN"].mean()
Gucheng_df["RAIN"] = Gucheng_df["RAIN"].fillna(perbaiki_missingvalue)

In [697]:
perbaiki_missingvalue = Gucheng_df["WSPM"].mean()
Gucheng_df["WSPM"] = Gucheng_df["WSPM"].fillna(perbaiki_missingvalue)

In [698]:
Gucheng_df.isna().sum()

No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10         0
SO2          0
NO2          0
CO           0
O3           0
TEMP         0
PRES         0
DEWP         0
RAIN         0
wd         159
WSPM         0
station      0
dtype: int64

In [699]:
Gucheng_df.wd.value_counts()

N      3949
NE     3119
SSW    2762
NW     2758
NNE    2602
S      2343
W      2331
WNW    2073
SW     1993
ENE    1885
WSW    1621
NNW    1614
E      1607
SSE    1553
ESE    1353
SE     1342
Name: wd, dtype: int64

Perbaiki missing value type data object/string

In [700]:
Gucheng_df['wd'].fillna(value='N', inplace=True)

In [701]:
Gucheng_df.isna().sum()

No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

#### Membersihkan tabel `Huairou_df`

In [702]:
Huairou_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34111.000000,34287.000000,34084.000000,33425.000000,33642.000000,33913.000000,35013.000000,35011.000000,35011.000000,35009.000000,35015.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,69.626367,91.482690,12.121553,32.497250,1022.554545,59.824713,12.445426,1007.598568,2.238619,0.067940,1.652021
std,10122.249256,1.177213,3.448752,8.800218,6.922285,71.224916,83.289578,18.896912,26.489531,898.738241,54.605746,11.751103,10.022101,14.052541,0.849046,1.199143
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,1.026500,100.000000,0.214200,-19.900000,982.800000,-43.400000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,17.000000,28.000000,2.000000,12.000000,400.000000,18.000000,2.100000,999.300000,-9.600000,0.000000,0.900000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,47.000000,69.000000,4.000000,25.000000,800.000000,49.000000,13.600000,1007.300000,2.700000,0.000000,1.300000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,98.000000,131.000000,14.000000,46.000000,1300.000000,83.000000,22.300000,1015.500000,15.300000,0.000000,2.000000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,762.000000,993.000000,315.000000,231.000000,10000.000000,444.000000,40.300000,1036.500000,29.100000,45.900000,12.900000

In [703]:
Huairou_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       953
PM10        777
SO2         980
NO2        1639
CO         1422
O3         1151
TEMP         51
PRES         53
DEWP         53
RAIN         55
wd          302
WSPM         49
station       0
dtype: int64

Perbaiki missing value dengan mengisi data mean

In [704]:
perbaiki_missingvalue = Huairou_df["PM2.5"].mean()
Huairou_df["PM2.5"] = Huairou_df["PM2.5"].fillna(perbaiki_missingvalue)

In [705]:
perbaiki_missingvalue = Huairou_df["PM10"].mean()
Huairou_df["PM10"] = Huairou_df["PM10"].fillna(perbaiki_missingvalue)

In [706]:
perbaiki_missingvalue = Huairou_df["SO2"].mean()
Huairou_df["SO2"] = Huairou_df["SO2"].fillna(perbaiki_missingvalue)

In [707]:
perbaiki_missingvalue = Huairou_df["NO2"].mean()
Huairou_df["NO2"] = Huairou_df["NO2"].fillna(perbaiki_missingvalue)

In [708]:
perbaiki_missingvalue = Huairou_df["CO"].mean()
Huairou_df["CO"] = Huairou_df["CO"].fillna(perbaiki_missingvalue)

In [709]:
perbaiki_missingvalue = Huairou_df["O3"].mean()
Huairou_df["O3"] = Huairou_df["O3"].fillna(perbaiki_missingvalue)

In [710]:
perbaiki_missingvalue = Huairou_df["TEMP"].mean()
Huairou_df["TEMP"] = Huairou_df["TEMP"].fillna(perbaiki_missingvalue)

In [711]:
perbaiki_missingvalue = Huairou_df["PRES"].mean()
Huairou_df["PRES"] = Huairou_df["PRES"].fillna(perbaiki_missingvalue)

In [712]:
perbaiki_missingvalue = Huairou_df["DEWP"].mean()
Huairou_df["DEWP"] = Huairou_df["DEWP"].fillna(perbaiki_missingvalue)

In [713]:
perbaiki_missingvalue = Huairou_df["RAIN"].mean()
Huairou_df["RAIN"] = Huairou_df["RAIN"].fillna(perbaiki_missingvalue)

In [714]:
perbaiki_missingvalue = Huairou_df["WSPM"].mean()
Huairou_df["WSPM"] = Huairou_df["WSPM"].fillna(perbaiki_missingvalue)

In [715]:
Huairou_df.isna().sum()

No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10         0
SO2          0
NO2          0
CO           0
O3           0
TEMP         0
PRES         0
DEWP         0
RAIN         0
wd         302
WSPM         0
station      0
dtype: int64

In [716]:
Huairou_df.wd.value_counts()

NW     4943
WNW    4876
NE     2252
E      2159
W      2138
SE     2113
ENE    2026
ESE    2022
SW     1797
NNE    1687
NNW    1663
SSE    1573
WSW    1468
N      1367
SSW    1350
S      1328
Name: wd, dtype: int64

Perbaiki missing value type data object/string

In [717]:
perbaiki_missingvalue = Huairou_df["wd"].value_counts().mean()
Huairou_df['wd'] = Huairou_df['wd'].fillna(perbaiki_missingvalue)

In [718]:
Huairou_df.isna().sum()

No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

#### Membersihkan tabel `Nongzhanguan_df`

In [719]:
Nongzhanguan_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34436.000000,34624.000000,34618.000000,34372.000000,33858.000000,34558.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,84.838483,108.991096,18.689242,58.097172,1324.350198,58.534682,13.671490,1012.547419,2.447535,0.064020,1.860785
std,10122.249256,1.177213,3.448752,8.800218,6.922285,86.225344,95.341177,24.280665,36.297740,1245.166124,58.401448,11.458418,10.266059,13.810696,0.786282,1.280368
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.571200,2.000000,100.000000,0.214200,-16.800000,987.100000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,22.000000,38.000000,3.000000,29.000000,500.000000,10.000000,3.100000,1004.000000,-8.800000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,59.000000,85.000000,9.000000,51.000000,900.000000,45.000000,14.600000,1012.200000,3.000000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,116.000000,149.000000,23.000000,80.000000,1600.000000,84.000000,23.500000,1020.900000,15.000000,0.000000,2.400000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,844.000000,995.000000,257.000000,273.000000,10000.000000,390.000000,41.100000,1042.000000,28.800000,46.400000,10.500000

In [720]:
Nongzhanguan_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       628
PM10        440
SO2         446
NO2         692
CO         1206
O3          506
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           78
WSPM         14
station       0
dtype: int64

Perbaiki missing value dengan mengisi data mean

In [721]:
perbaiki_missingvalue = Nongzhanguan_df["PM2.5"].mean()
Nongzhanguan_df["PM2.5"] = Nongzhanguan_df["PM2.5"].fillna(perbaiki_missingvalue)

In [722]:
perbaiki_missingvalue = Nongzhanguan_df["PM10"].mean()
Nongzhanguan_df["PM10"] = Nongzhanguan_df["PM10"].fillna(perbaiki_missingvalue)

In [723]:
perbaiki_missingvalue = Nongzhanguan_df["SO2"].mean()
Nongzhanguan_df["SO2"] = Nongzhanguan_df["SO2"].fillna(perbaiki_missingvalue)

In [724]:
perbaiki_missingvalue = Nongzhanguan_df["NO2"].mean()
Nongzhanguan_df["NO2"] = Nongzhanguan_df["NO2"].fillna(perbaiki_missingvalue)

In [725]:
perbaiki_missingvalue = Nongzhanguan_df["CO"].mean()
Nongzhanguan_df["CO"] = Nongzhanguan_df["CO"].fillna(perbaiki_missingvalue)

In [726]:
perbaiki_missingvalue = Nongzhanguan_df["O3"].mean()
Nongzhanguan_df["O3"] = Nongzhanguan_df["O3"].fillna(perbaiki_missingvalue)

In [727]:
perbaiki_missingvalue = Nongzhanguan_df["TEMP"].mean()
Nongzhanguan_df["TEMP"] = Nongzhanguan_df["TEMP"].fillna(perbaiki_missingvalue)

In [728]:
perbaiki_missingvalue = Nongzhanguan_df["PRES"].mean()
Nongzhanguan_df["PRES"] = Nongzhanguan_df["PRES"].fillna(perbaiki_missingvalue)

In [729]:
perbaiki_missingvalue = Nongzhanguan_df["DEWP"].mean()
Nongzhanguan_df["DEWP"] = Nongzhanguan_df["DEWP"].fillna(perbaiki_missingvalue)

In [730]:
perbaiki_missingvalue = Nongzhanguan_df["RAIN"].mean()
Nongzhanguan_df["RAIN"] = Nongzhanguan_df["RAIN"].fillna(perbaiki_missingvalue)

In [731]:
perbaiki_missingvalue = Nongzhanguan_df["WSPM"].mean()
Nongzhanguan_df["WSPM"] = Nongzhanguan_df["WSPM"].fillna(perbaiki_missingvalue)

In [732]:
Nongzhanguan_df.isna().sum()

No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP        0
PRES        0
DEWP        0
RAIN        0
wd         78
WSPM        0
station     0
dtype: int64

In [733]:
Nongzhanguan_df.wd.value_counts()

ENE    3861
E      3564
NE     3540
ESE    2706
SW     2481
NW     2466
SSW    1953
NNE    1928
SE     1880
N      1865
WSW    1769
NNW    1693
S      1547
SSE    1402
WNW    1347
W       984
Name: wd, dtype: int64

Perbaiki missing value type data object/string

In [734]:
Nongzhanguan_df['wd'].fillna(value='ENE', inplace=True)

In [735]:
Nongzhanguan_df.isna().sum()

No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

#### Membersihkan tabel `Shunyi_df`

In [736]:
Shunyi_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34151.000000,34516.000000,33768.000000,33699.000000,32886.000000,33575.000000,35013.000000,35013.000000,35010.000000,35013.000000,35020.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,79.491602,98.737026,13.572039,43.908865,1187.063979,55.201321,13.387969,1013.061938,2.465036,0.061094,1.807533
std,10122.249256,1.177213,3.448752,8.800218,6.922285,81.231739,89.143718,19.572068,30.996828,1156.374102,54.873726,11.483588,10.177339,13.726622,0.761668,1.287817
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,2.000000,100.000000,0.214200,-16.800000,988.000000,-36.000000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,19.000000,31.000000,2.000000,19.000000,400.000000,10.000000,3.000000,1004.700000,-8.800000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,55.000000,77.000000,5.000000,37.000000,800.000000,43.000000,14.400000,1012.700000,3.100000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,112.000000,138.000000,17.000000,62.000000,1500.000000,77.000000,23.200000,1021.000000,15.100000,0.000000,2.300000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,941.000000,999.000000,239.000000,258.000000,10000.000000,351.716400,40.600000,1042.800000,27.500000,37.300000,12.800000

In [737]:
Shunyi_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       913
PM10        548
SO2        1296
NO2        1365
CO         2178
O3         1489
TEMP         51
PRES         51
DEWP         54
RAIN         51
wd          483
WSPM         44
station       0
dtype: int64

Perbaiki missing value dengan mengisi data mean

In [738]:
perbaiki_missingvalue = Shunyi_df["PM2.5"].mean()
Shunyi_df["PM2.5"] = Shunyi_df["PM2.5"].fillna(perbaiki_missingvalue)

In [739]:
perbaiki_missingvalue = Shunyi_df["PM10"].mean()
Shunyi_df["PM10"] = Shunyi_df["PM10"].fillna(perbaiki_missingvalue)

In [740]:
perbaiki_missingvalue = Shunyi_df["SO2"].mean()
Shunyi_df["SO2"] = Shunyi_df["SO2"].fillna(perbaiki_missingvalue)

In [741]:
perbaiki_missingvalue = Shunyi_df["NO2"].mean()
Shunyi_df["NO2"] = Shunyi_df["NO2"].fillna(perbaiki_missingvalue)

In [742]:
perbaiki_missingvalue = Shunyi_df["CO"].mean()
Shunyi_df["CO"] = Shunyi_df["CO"].fillna(perbaiki_missingvalue)

In [743]:
perbaiki_missingvalue = Shunyi_df["O3"].mean()
Shunyi_df["O3"] = Shunyi_df["O3"].fillna(perbaiki_missingvalue)

In [744]:
perbaiki_missingvalue = Shunyi_df["TEMP"].mean()
Shunyi_df["TEMP"] = Shunyi_df["TEMP"].fillna(perbaiki_missingvalue)

In [745]:
perbaiki_missingvalue = Shunyi_df["PRES"].mean()
Shunyi_df["PRES"] = Shunyi_df["PRES"].fillna(perbaiki_missingvalue)

In [746]:
perbaiki_missingvalue = Shunyi_df["DEWP"].mean()
Shunyi_df["DEWP"] = Shunyi_df["DEWP"].fillna(perbaiki_missingvalue)

In [747]:
perbaiki_missingvalue = Shunyi_df["RAIN"].mean()
Shunyi_df["RAIN"] = Shunyi_df["RAIN"].fillna(perbaiki_missingvalue)

In [748]:
perbaiki_missingvalue = Shunyi_df["WSPM"].mean()
Shunyi_df["WSPM"] = Shunyi_df["WSPM"].fillna(perbaiki_missingvalue)

In [749]:
Shunyi_df.isna().sum()

No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10         0
SO2          0
NO2          0
CO           0
O3           0
TEMP         0
PRES         0
DEWP         0
RAIN         0
wd         483
WSPM         0
station      0
dtype: int64

In [750]:
Shunyi_df.wd.value_counts()

NNE    4540
N      3877
NE     3351
SSE    2963
SE     2665
S      2613
NW     2446
WNW    2051
NNW    1656
SSW    1586
ENE    1416
ESE    1377
W      1177
E      1153
SW      973
WSW     737
Name: wd, dtype: int64

Perbaiki missing value type data object/string

In [751]:
Shunyi_df['wd'].fillna(value='NNE', inplace=True)

In [752]:
Shunyi_df.isna().sum()

No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

In [753]:
Shunyi_df.wd.value_counts()

NNE    5023
N      3877
NE     3351
SSE    2963
SE     2665
S      2613
NW     2446
WNW    2051
NNW    1656
SSW    1586
ENE    1416
ESE    1377
W      1177
E      1153
SW      973
WSW     737
Name: wd, dtype: int64

#### Membersihkan tabel `Tiantan_df`

In [754]:
Tiantan_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34387.000000,34467.000000,33946.000000,34320.000000,33938.000000,34221.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,82.164911,106.363672,14.367615,53.162646,1298.303318,55.984297,13.671490,1012.547419,2.447535,0.064020,1.860785
std,10122.249256,1.177213,3.448752,8.800218,6.922285,80.921384,89.700157,20.144631,31.946224,1170.593297,59.081528,11.458418,10.266059,13.810696,0.786282,1.280368
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.571200,2.000000,100.000000,0.428400,-16.800000,987.100000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,22.000000,41.000000,3.000000,28.000000,500.000000,8.000000,3.100000,1004.000000,-8.800000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,59.000000,85.000000,7.000000,47.000000,900.000000,40.000000,14.600000,1012.200000,3.000000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,113.000000,144.000000,17.000000,71.000000,1600.000000,81.000000,23.500000,1020.900000,15.000000,0.000000,2.400000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,821.000000,988.000000,273.000000,241.000000,10000.000000,674.000000,41.100000,1042.000000,28.800000,46.400000,10.500000

In [755]:
Tiantan_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       677
PM10        597
SO2        1118
NO2         744
CO         1126
O3          843
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           78
WSPM         14
station       0
dtype: int64

Perbaiki missing value dengan mengisi data mean

In [756]:
perbaiki_missingvalue = Tiantan_df["PM2.5"].mean()
Tiantan_df["PM2.5"] = Tiantan_df["PM2.5"].fillna(perbaiki_missingvalue)

In [757]:
perbaiki_missingvalue = Tiantan_df["PM10"].mean()
Tiantan_df["PM10"] = Tiantan_df["PM10"].fillna(perbaiki_missingvalue)

In [758]:
perbaiki_missingvalue = Tiantan_df["SO2"].mean()
Tiantan_df["SO2"] = Tiantan_df["SO2"].fillna(perbaiki_missingvalue)

In [759]:
perbaiki_missingvalue = Tiantan_df["NO2"].mean()
Tiantan_df["NO2"] = Tiantan_df["NO2"].fillna(perbaiki_missingvalue)

In [760]:
perbaiki_missingvalue = Tiantan_df["CO"].mean()
Tiantan_df["CO"] = Tiantan_df["CO"].fillna(perbaiki_missingvalue)

In [761]:
perbaiki_missingvalue = Tiantan_df["O3"].mean()
Tiantan_df["O3"] = Tiantan_df["O3"].fillna(perbaiki_missingvalue)

In [762]:
perbaiki_missingvalue = Tiantan_df["TEMP"].mean()
Tiantan_df["TEMP"] = Tiantan_df["TEMP"].fillna(perbaiki_missingvalue)

In [763]:
perbaiki_missingvalue = Tiantan_df["PRES"].mean()
Tiantan_df["PRES"] = Tiantan_df["PRES"].fillna(perbaiki_missingvalue)

In [764]:
perbaiki_missingvalue = Tiantan_df["DEWP"].mean()
Tiantan_df["DEWP"] = Tiantan_df["DEWP"].fillna(perbaiki_missingvalue)

In [765]:
perbaiki_missingvalue = Tiantan_df["RAIN"].mean()
Tiantan_df["RAIN"] = Tiantan_df["RAIN"].fillna(perbaiki_missingvalue)

In [766]:
perbaiki_missingvalue = Tiantan_df["WSPM"].mean()
Tiantan_df["WSPM"] = Tiantan_df["WSPM"].fillna(perbaiki_missingvalue)

In [767]:
Tiantan_df.isna().sum()

No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP        0
PRES        0
DEWP        0
RAIN        0
wd         78
WSPM        0
station     0
dtype: int64

In [768]:
Tiantan_df.wd.value_counts()

ENE    3861
E      3564
NE     3540
ESE    2706
SW     2481
NW     2466
SSW    1953
NNE    1928
SE     1880
N      1865
WSW    1769
NNW    1693
S      1547
SSE    1402
WNW    1347
W       984
Name: wd, dtype: int64

Perbaiki missing value type data object/string

In [769]:
Tiantan_df['wd'].fillna(value='ENE', inplace=True)

In [770]:
Tiantan_df.isna().sum()

No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

#### Membersihkan tabel `Wanliu_df`

In [771]:
Wanliu_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34682.000000,34780.000000,34489.000000,33994.000000,33252.000000,32957.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,83.374716,110.464618,18.376481,65.258789,1319.353513,48.873614,13.428865,1011.097536,3.266588,0.068263,1.501215
std,10122.249256,1.177213,3.448752,8.800218,6.922285,81.905568,92.795065,22.609648,37.996088,1268.114331,55.111740,11.346931,10.355247,13.678060,0.896726,1.104472
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,1.642400,100.000000,0.214200,-15.800000,985.900000,-34.900000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,23.000000,40.000000,4.000000,36.000000,500.000000,4.000000,3.200000,1002.500000,-8.100000,0.000000,0.800000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,59.000000,88.000000,10.000000,60.000000,900.000000,32.000000,14.300000,1010.800000,4.000000,0.000000,1.200000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,116.000000,153.000000,23.000000,88.000000,1600.000000,73.000000,22.900000,1019.400000,15.800000,0.000000,2.000000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,957.000000,951.000000,282.000000,264.000000,10000.000000,364.000000,40.500000,1040.300000,28.500000,72.500000,11.200000

In [772]:
Wanliu_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       382
PM10        284
SO2         575
NO2        1070
CO         1812
O3         2107
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd          123
WSPM         14
station       0
dtype: int64

Perbaiki missing value dengan mengisi data mean

In [773]:
perbaiki_missingvalue = Wanliu_df["PM2.5"].mean()
Wanliu_df["PM2.5"] = Wanliu_df["PM2.5"].fillna(perbaiki_missingvalue)

In [774]:
perbaiki_missingvalue = Wanliu_df["PM10"].mean()
Wanliu_df["PM10"] = Wanliu_df["PM10"].fillna(perbaiki_missingvalue)

In [775]:
perbaiki_missingvalue = Wanliu_df["SO2"].mean()
Wanliu_df["SO2"] = Wanliu_df["SO2"].fillna(perbaiki_missingvalue)

In [776]:
perbaiki_missingvalue = Wanliu_df["NO2"].mean()
Wanliu_df["NO2"] = Wanliu_df["NO2"].fillna(perbaiki_missingvalue)

In [777]:
perbaiki_missingvalue = Wanliu_df["CO"].mean()
Wanliu_df["CO"] = Wanliu_df["CO"].fillna(perbaiki_missingvalue)

In [778]:
perbaiki_missingvalue = Wanliu_df["O3"].mean()
Wanliu_df["O3"] = Wanliu_df["O3"].fillna(perbaiki_missingvalue)

In [779]:
perbaiki_missingvalue = Wanliu_df["TEMP"].mean()
Wanliu_df["TEMP"] = Wanliu_df["TEMP"].fillna(perbaiki_missingvalue)

In [780]:
perbaiki_missingvalue = Wanliu_df["PRES"].mean()
Wanliu_df["PRES"] = Wanliu_df["PRES"].fillna(perbaiki_missingvalue)

In [781]:
perbaiki_missingvalue = Wanliu_df["DEWP"].mean()
Wanliu_df["DEWP"] = Wanliu_df["DEWP"].fillna(perbaiki_missingvalue)

In [782]:
perbaiki_missingvalue = Wanliu_df["RAIN"].mean()
Wanliu_df["RAIN"] = Wanliu_df["RAIN"].fillna(perbaiki_missingvalue)

In [783]:
perbaiki_missingvalue = Wanliu_df["WSPM"].mean()
Wanliu_df["WSPM"] = Wanliu_df["WSPM"].fillna(perbaiki_missingvalue)

In [784]:
Wanliu_df.isna().sum()

No           0
year         0
month        0
day          0
hour         0
PM2.5        0
PM10         0
SO2          0
NO2          0
CO           0
O3           0
TEMP         0
PRES         0
DEWP         0
RAIN         0
wd         123
WSPM         0
station      0
dtype: int64

In [785]:
Wanliu_df.wd.value_counts()

NE     6703
SW     4644
ENE    3642
NNE    3327
N      3219
WSW    2529
SSW    2101
NNW    1397
W      1335
E      1264
NW     1107
S       966
WNW     813
SE      707
SSE     615
ESE     572
Name: wd, dtype: int64

Perbaiki missing value type data object/string

In [786]:
Wanliu_df['wd'].fillna(value='NE', inplace=True)

In [787]:
Wanliu_df.isna().sum()

No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

In [788]:
Wanliu_df.wd.value_counts()

NE     6826
SW     4644
ENE    3642
NNE    3327
N      3219
WSW    2529
SSW    2101
NNW    1397
W      1335
E      1264
NW     1107
S       966
WNW     813
SE      707
SSE     615
ESE     572
Name: wd, dtype: int64

#### Membersihkan tabel `Wanshouxigong_df`

In [789]:
Wanshouxigong_df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34368.000000,34580.000000,34395.000000,34310.00000,33767.000000,33986.000000,35045.000000,35045.000000,35045.000000,35045.000000,35051.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,85.024136,112.223459,17.148603,55.52956,1370.395031,56.229904,13.784477,1011.511804,2.707442,0.064320,1.745314
std,10122.249256,1.177213,3.448752,8.800218,6.922285,85.975981,97.593210,23.940834,35.80805,1223.139114,57.082710,11.385156,10.570928,13.704139,0.796981,1.206355
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,2.00000,100.000000,0.214200,-16.800000,985.100000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,23.000000,39.000000,3.000000,28.00000,600.000000,8.000000,3.400000,1002.800000,-8.500000,0.000000,0.900000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,60.000000,91.000000,8.000000,49.00000,1000.000000,42.000000,14.800000,1011.000000,3.300000,0.000000,1.400000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,116.000000,154.000000,21.000000,77.00000,1700.000000,82.000000,23.500000,1020.000000,15.200000,0.000000,2.300000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,999.000000,961.000000,411.000000,251.00000,9800.000000,358.000000,40.600000,1042.000000,28.500000,46.400000,13.200000

In [790]:
Wanshouxigong_df.isna().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       696
PM10        484
SO2         669
NO2         754
CO         1297
O3         1078
TEMP         19
PRES         19
DEWP         19
RAIN         19
wd           79
WSPM         13
station       0
dtype: int64

Perbaiki missing value dengan mengisi data mean

In [791]:
perbaiki_missingvalue = Wanshouxigong_df["PM2.5"].mean()
Wanshouxigong_df["PM2.5"] = Wanshouxigong_df["PM2.5"].fillna(perbaiki_missingvalue)

In [792]:
perbaiki_missingvalue = Wanshouxigong_df["PM10"].mean()
Wanshouxigong_df["PM10"] = Wanshouxigong_df["PM10"].fillna(perbaiki_missingvalue)

In [793]:
perbaiki_missingvalue = Wanshouxigong_df["SO2"].mean()
Wanshouxigong_df["SO2"] = Wanshouxigong_df["SO2"].fillna(perbaiki_missingvalue)

In [794]:
perbaiki_missingvalue = Wanshouxigong_df["NO2"].mean()
Wanshouxigong_df["NO2"] = Wanshouxigong_df["NO2"].fillna(perbaiki_missingvalue)

In [795]:
perbaiki_missingvalue = Wanshouxigong_df["CO"].mean()
Wanshouxigong_df["CO"] = Wanshouxigong_df["CO"].fillna(perbaiki_missingvalue)

In [796]:
perbaiki_missingvalue = Wanshouxigong_df["O3"].mean()
Wanshouxigong_df["O3"] = Wanshouxigong_df["O3"].fillna(perbaiki_missingvalue)

In [797]:
perbaiki_missingvalue = Wanshouxigong_df["TEMP"].mean()
Wanshouxigong_df["TEMP"] = Wanshouxigong_df["TEMP"].fillna(perbaiki_missingvalue)

In [798]:
perbaiki_missingvalue = Wanshouxigong_df["PRES"].mean()
Wanshouxigong_df["PRES"] = Wanshouxigong_df["PRES"].fillna(perbaiki_missingvalue)

In [799]:
perbaiki_missingvalue = Wanshouxigong_df["DEWP"].mean()
Wanshouxigong_df["DEWP"] = Wanshouxigong_df["DEWP"].fillna(perbaiki_missingvalue)

In [800]:
perbaiki_missingvalue = Wanshouxigong_df["RAIN"].mean()
Wanshouxigong_df["RAIN"] = Wanshouxigong_df["RAIN"].fillna(perbaiki_missingvalue)

In [801]:
perbaiki_missingvalue = Wanshouxigong_df["WSPM"].mean()
Wanshouxigong_df["WSPM"] = Wanshouxigong_df["WSPM"].fillna(perbaiki_missingvalue)

In [802]:
Wanshouxigong_df.isna().sum()

No          0
year        0
month       0
day         0
hour        0
PM2.5       0
PM10        0
SO2         0
NO2         0
CO          0
O3          0
TEMP        0
PRES        0
DEWP        0
RAIN        0
wd         79
WSPM        0
station     0
dtype: int64

In [803]:
Wanshouxigong_df.wd.value_counts()

NE     3568
SW     3428
ENE    3080
E      2807
WNW    2565
NW     2552
WSW    2546
W      2464
SSW    2457
ESE    1772
NNE    1564
S      1506
SE     1279
NNW    1187
N      1176
SSE    1034
Name: wd, dtype: int64

Perbaiki missing value type data object/string

In [804]:
Wanshouxigong_df['wd'].fillna(value='NE', inplace=True)

In [805]:
Wanshouxigong_df.isna().sum()

No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

## Exploratory Data Analysis (EDA)

### Explore `Aotizhongxin_df`

In [806]:
Aotizhongxin_df.sample()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
33692,33693,2017,1,2,20,137.0,137.0,13.0,89.0,2200.0,35.0,2.9,1021.1,-9.4,0.0,WSW,2.1,Aotizhongxin

In [807]:
Aotizhongxin_df.describe(include='all')

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064,35064.000000,35064
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN,1
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NE,NaN,Aotizhongxin
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5221,NaN,35064
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,82.773611,110.060391,17.375901,59.305833,1262.945145,56.353358,13.584607,1011.846920,3.123062,0.067421,NaN,1.708496,NaN
std,10122.249256,1.177213,3.448752,8.800218,6.922285,81.045038,94.243001,22.516658,36.570739,1190.100376,56.478782,11.395845,10.401079,13.684991,0.909796,NaN,1.203831,NaN
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,2.000000,100.000000,0.214200,-16.800000,985.900000,-35.300000,0.000000,NaN,0.000000,NaN
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,23.000000,39.000000,3.000000,31.000000,500.000000,9.000000,3.100000,1003.300000,-8.100000,0.000000,NaN,0.900000,NaN
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,61.000000,89.000000,9.000000,55.000000,900.000000,46.000000,14.500000,1011.400000,3.800000,0.000000,NaN,1.400000,NaN
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,112.000000,153.000000,21.000000,81.000000,1500.000000,80.000000,23.300000,1020.100000,15.600000,0.000000,NaN,2.200000,NaN
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,898.000000,984.000000,341.000000,290.000000,10000.000000,423.000000,40.500000,1042.000000,28.500000,72.500000,NaN,11.200000,NaN

### Explore `Changping_df`

### Explore `Dingling_df`

### Explore `Dongsi_df`

### Explore `Guanyuan_df`

### Explore `Gucheng_df`

### Explore `Huairou_df`

### Explore `Nongzhanguan_df`

### Explore `Shunyi_df`

### Explore `Tiantan_df`

### Explore `Wanliu_df`

### Explore `Wanshouxigong_df`

## Visualization & Explanatory Analysis

### Pertanyaan 1: Bagaimana kualitas udara disetiap station dalam beberapa tahun terakhir?

### Pertanyaan 2: Pada station manakah kualitas udara terburuk terjadi?

## Conclusion

- Conclution pertanyaan 1
- conclution pertanyaan 2